[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
pytest = "*"
pytest-flask = "*"
requests-mock = "*"

[packages]
flask = "*"
flask-restx = "*"
werkzeug = "*"
python-dotenv = "*"
pymysql = "*"
cryptography = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-caching = "*"
redis = "*"
flask-cors = "*"
email-validator = "*"
flask-praetorian = "*"
flask-migrate = "*"
pandas = "*"
xlrd = "*"
msal = "*"
openpyxl = "*"
pyexcel = "*"
pyexcel-xlsx = "*"
sqlacodegen = "*"
flask-admin = "*"
flask-basicauth = "*"
flask-sqlalchemy = "*"
sqlalchemy = "*"
flask-compress = "*"
xlsxwriter = "*"
flask-socketio = "*"
simplejson = "*"
pyotp = "*"
sendgrid = "*"
flask-profiler = "*"
snakeviz = "*"
alembic="*"
pymssql = "*"
python-pptx = "*"
importlib_resources="*"
itsdangerous = "*"
celery = "*"
gevent = "*"
cffi = "*"
flower = "*"
zipp = "*"
numerize = "*"
geopy = "*"
flask-limiter = {extras = ["redis"], version = "*"}
flask-mail = "*"

[requires]
python_version = "3.10.7"
