[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pandas = "*"
numpy = "*"
mysql-connector-python = "*"
cloudinary = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-restx = "*"
python-dotenv = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-caching = "*"
redis = "*"
flask-cors = "*"
flask-praetorian = "*"
flask-migrate = "*"
openpyxl = "*"
flask-basicauth = "*"
flask-compress = "*"
xlsxwriter = "*"
simplejson = "*"
flask-profiler = "*"
snakeviz = "*"
alembic = "*"
python-pptx = "*"
importlib-resources = "*"
flask-limiter = {extras = ["redis"], version = "*"}

[dev-packages]
pytest = "*"
black = "*"
pytest-flask = "*"

[requires]
python_version = "3.9"
