[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "==19.10b0"
pytest = "*"
pytest-flask = "*"
requests-mock = "*"

[packages]
flask = "*"
flask-restx = "==0.5.1"
werkzeug = "==2.0.3"
python-dotenv = "*"
pymysql = "*"
cryptography = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
flask-caching = "*"
redis = "*"
flask-cors = "*"
email-validator = "*"
flask-praetorian = "==1.3.0"
flask-migrate = "*"
pandas = "*"
xlrd = "*"
msal = "*"
openpyxl = "*"
pyexcel = "*"
pyexcel-xlsx = "*"
sqlacodegen = "*"
flask-admin = "*"
flask-basicauth = "*"
flask-sqlalchemy = "*"
sqlalchemy = "==1.4.39"
flask-compress = "*"
xlsxwriter = "*"
flask-socketio = "*"
simplejson = "*"
pyotp = "*"
sendgrid = "*"
flask-profiler = "*"
snakeviz = "*"
alembic="*"
pymssql = "*"
python-pptx = "*"
importlib_resources="*"
itsdangerous = "==2.1.2"
celery = "*"
gevent = "*"
cffi = "*"
flower = "*"
zipp = "==3.9.0"
numerize = "*"
geopy = "*"
flask-limiter = {extras = ["redis"], version = "*"}

[requires]
python_version = "3.10.7"
